body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column;
}

#webTitle {
  text-align: absolute;
  margin-top: 0;
  top: 0%;
  font-size: 44px;
  font-family: Blippo, fantasy;
}
#landingPage-container {
  background-color: black;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-family: "Gill Sans", sans-serif;
}
#landingPage {
  color: white;
}
#landingPage button {
  background-color: rgb(255, 47, 47);
  color: black;
  font-weight: bold;
  font-size: 12px;
}

#game-container {
  display: none;
  flex-direction: row;
  align-items: center;
}

.squares {
  /* display: grid;
   grid-template-columns: repeat(2, 300px); */
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.red-square,
.blue-square,
.yellow-square,
.green-square {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  cursor: pointer;
}

.red-square {
  background-color: #ff0000;
}
.red-square:hover {
  background-color: #ff6666;
}

.blue-square {
  background-color: #0000ff;
}
.blue-square:hover {
  background-color: #6699ff;
}

.yellow-square {
  background-color: #ffff00;
}

.yellow-square:hover {
  background-color: #fffa66;
}

.green-square {
  background-color: #00ff00;
}
.green-square:hover {
  background-color: #66ff66;
}

#level-container{
    border: 6px solid;
     height: 150px; 
     width: 120px; 
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* border-radius: 2%; */
    color: black;
    border-color: #57cd92;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    border-bottom: 0;
    padding: 20px;
}

#stats-container{
    display: flex;
    flex-direction: column;
}
#timer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid ;
    /* border-top: 5px dashed; */
     height: 150px; 
    margin-bottom: 90px;
    /* border-radius: 2%; */
    color: black;
    border-color: #57cd92;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    padding: 20px;

}


.game-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.game-buttons button {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: Gill Sans, sans-serif;
  border: 0;
  margin-right: 30px;
  margin-left: 30px;
}
#begin-gameButton {
  background-color: purple;
}
#restart-gameButton {
  background-color: purple;
}

.simonSaysArea{
    display:flex;
    align-items: center;
    flex-direction: column;
}