body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#webTitle{
    position: absolute;
    top: 0%;
    font-size: 44px;
    font-family: Blippo, fantasy;
}

#game-container{
    display:none;
}

.squares{
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

.red-square, .blue-square, .yellow-square,.green-square{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    cursor: pointer;
}

.red-square {
    background-color: #ff0000;
}
.red-square:hover{
    background-color: #ff6666;
}

.blue-square {
    background-color: #0000ff;
}
.blue-square:hover{
    background-color:  #6699ff;
}

.yellow-square {
    background-color: #ffff00;
}

.yellow-square:hover{
    background-color: #fffa66;
}

.green-square {
    background-color: #00ff00;
}
.green-square:hover{
    background-color: #66ff66;
}

.game-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.game-buttons button{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    border-radius: 5%;
    color: white;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: Gill Sans, sans-serif;
}
#begin-gameButton{
    background-color: purple;

}
#restart-gameButton{
    background-color: purple;
}
